* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero-section {
    width: 100%;
    height: 100vh;
    background-image: url(https://imgak.mmtcdn.com/pwa_v3/pwa_commons_assets/desktop/bg2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    width: 100%;
    padding: 1rem 4rem 1rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link-icon {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link-icon img {
    margin-left: 4px;
}

.logo-container {
    width: 25%;
    height: 100%;
}

.logo-container img {
    width: 9rem;
}

.links-container {
    width: 100%;
    height: 100%;
    display: flex;
    column-gap: 12px;
}

.list-your-property {
    padding: 4px;
    display: flex;
    align-items: center;
}

.introducing-myBiz {
    display: flex;
    align-items: center;
    column-gap: 4px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%);
    border: dotted rgb(255 255 255 / 15%);
    border-width: 0 0 0 2px;
    background-color: transparent;
    padding: 6px;
}

.MyTrips-WidgetText {
    display: flex;
    align-items: center;
}

.login-dropdown-button {
    width: 213px;
    display: flex;
    align-items: center;
    background: linear-gradient(93deg, #53b2fe 0%, #065af3 100%);
    border-radius: 6px;
}

.list-your-property-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-your-property-text p {
    font-size: 11px;
    line-height: 11px;
    color: #ffffff;
    margin-bottom: 3px;
}

.introducing-myBiz-text :first-child {
    font-size: 13px;
    line-height: 11px;
    color: #ffffff;
    margin-bottom: 3px;
}

.introducing-myBiz-text p {
    font-size: 11px;
    font-weight: 700;
    line-height: 11px;
    color: #ffffff;
    margin-bottom: 3px;
}


.MyTrips-WidgetText {
    display: flex;
}

.MyTrips-WidgetText p {
    font-size: 11px;
    line-height: 11px;
    color: #ffffff;
    margin-bottom: 3px;
}

.login-select {
    width: 25%;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-right: 0.5rem;
}

.login-select::after {
    content: '';
    background: url('https://www.freeiconspng.com/uploads/white-down-arrow-png-2.png') no-repeat right center;
    pointer-events: none;
}

.login-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-content p {
    font-size: 11px;
    line-height: 11px;
    color: #ffffff;
}

.language-dropdown {
    width: auto;
}

.dropdown-inner-container {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background-color: #797A75;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


.language-select {
    width: 40%;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-size: 11px;
    font-weight: 500;
    cursor: pointer;
    margin-right: 0.5rem;
    border-left: 2px solid white;
}

.language-select::after {
    content: '';
    background: url('https://www.freeiconspng.com/uploads/white-down-arrow-png-2.png') no-repeat right center;
    pointer-events: none;
}

.country-icon-container {
    display: flex;
    align-items: center;
}

.country-icon-container img {
    width: 1.5rem;
}

.dropdown-inner-container p {
    font-size: 11px;
    line-height: 11px;
    color: #ffffff;
}

.booking-section {
    position: absolute;
}

.main {
    min-height: 421px;
    width: 1200px;
    margin: 0 auto;
    position: relative;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%);
    margin-top: 6rem;
}

.main-inner-container {
    width: 90%;
    height: 100px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    display: flex;
    align-items: center;
    padding: 8px 30px;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: space-between;
    transform: translate(-50%, -50%);
    left: 37.5rem;
}

.main-inner-container p {
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    text-overflow: unset;
    white-space: unset;
    width: auto;
}

.inner-container-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.inner-container-child p {
    font-size: 14px;
    font-weight: 400;
    color: #4a4a4a;
    text-align: center;
    line-height: 17px;
    text-overflow: unset;
    white-space: unset;
    width: auto;
}

.text-container {
    position: absolute;
    top: 70px;
}